 

#include "../common/Configurations/UnitTests.xcconfig"
#include "../common/Configurations/Libraries.xcconfig"

BASE_PRODUCT_NAME     = Tao800HistoryTests
PRODUCT_NAME            = $(BASE_PRODUCT_NAME)
BUILD_BUNDLE_VERSION  = 1.0

OTHER_LDFLAGS         = $(COMMON_LDFLAGS) $(QUARTZCORE_FX) $(AVFOUNDATION_FX) $(ADDRESSBOOK_FX) $(ADDRESSBOOKUI_FX) $(CFNETWORK_FX) $(COREDATA_FX) $(COREFOUNDATION_FX) $(CORELOCATION_FX) $(GAMEKIT_FX) $(MAPKIT_FX) $(MEDIAPLAYER_FX) $(MESSAGEUI_FX) $(MOBILECORESERVICES_FX) $(OPENGLES_FX) $(SECURITY_FX) $(STOREKIT_FX) $(SYSTEMCONFIGURATION_FX) $(CoreTelephony_FX)

